# Dependencies & Temporary Files
node_modules/
.DS_Store
*.log

# Large Backup & Zip Archives
*.zip

# Raw Uncompressed Source Video Frame Extractions (Dev only)
images-portrait/
images-2-portrait/
images-portrait-native/
images-2-portrait-native/
image-portrait/
image-2-portrait/
images/
images 2/
